
.nav{
display:flex;
justify-content:space-between;
margin:20px;


}
.img{
height:60px;
width:150px;
}
.icon{
text-decoration:none;
margin:5px;
color:grey;
}
.icon:hover{
background-color:black;
}

.hero{
display:flex;
justify-content:space-evenly;
}

.text{
font-size:40px;
font-wieght:50px;
color:green;
}
.img2{
height:330px;
width:550px;
border-radius:30%;
margin:20px;

}
.btn{
height:45px;
width:120px;
background-color:red;
}
.cont{
boder:2px solid black;
display:flex;
justify-content:between;
}
.cont:hover{
background-color:grey;
}
.img3{
height:150px;
width:350px;
margin:20px;
border-radius:10%;
}

.cont1{
border:2px solid white;
border-radius:10px;
height:170px;
width:200px; 
padding:15px;

}
.cont1:hover{
background-color:grey;
}
.cont2{
border:2px solid grey;
border-radius:8px;
height:120px;
width:176px; 


}
.img5{

height:120px;
width:176px; 
}

